* {
  margin: 0;
  padding: 0;
}
/* Font */
@font-face {
  font-family: "Poppins";
  src: url("./components/fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("./components/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins-ExtraBold";
  src: url("./components/fonts/Poppins-ExtraBold.ttf");
}

:root {
  --white: #ffffff;
  --black: #000;
  --card-bg: #142629;
  --card-btn2-bg: rgba(0, 0, 0, 0.2);
  --card-btn3-red: #ff4848;
  --txt-color-op1: #2957ff;
  --hostpital-bg-color: linear-gradient(
    90deg,
    #000 6.09%,
    rgba(0, 0, 0, 0) 68.29%
  );
  --icon-bg: #009e23;
  --emergency-btns-bg: #d9d9d9;
  --serv-icon1: #db00ff;
  --serv-icon2: #ff8227;
  --serv-icon3: #00dd16;
  --serv-icon4: #ff004d;
  --loc-history: #667085;
}

body {
  background-color: var(--card-bg);
}
::-webkit-scrollbar {
  display: none;
}

/* home-admin-side */
.home-adminSide-container {
  padding: 20px;
  width: 1350px;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.host-name-left h1 {
  font-family: Poppins-ExtraBold;
  color: var(--txt-color-op1);
  line-height: 20px;
  font-size: 25px;
  font-weight: bold;
}
.host-name-left .host-loc {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 2px;
}
.host-name-left .host-loc .icon {
  font-size: 10px;
}
.host-name-left p {
  font-family: Poppins;
  font-size: 10px;
  color: var(--white);
  display: flex;
}
.host-logo-right {
  display: flex;
  gap: 10px;
}
.right-layer2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  line-height: 20px;
}
.right-layer2 h3 {
  font-family: Poppins;
  font-size: 15px;
  line-height: 20px;
  color: var(--white);
  font-weight: bold;
}
.right-layer2 p {
  color: var(--txt-color-op1);
}
.add-btn {
  margin-top: 200px;
}
.btn-modal {
  
}

/* emergency Alert containers*/
.emergency-container {
  margin-top: 80px;
  display: flex;
  justify-content: space-evenly;
}

/* Emergency Left side*/
.emergency {
  flex-wrap: wrap;
  width: 100%;
  max-width: 550px;
}
.emergency .emergency-history-layer1 {
  display: flex;
  align-items: center;
  gap: 100px;
}
.emergency .emergency-history-layer1 h1 {
  font-family: Poppins-ExtraBold;
  color: var(--card-btn3-red);
  width: 100%;
  font-size: 1.8em;
}
.history-layer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.emergency .emergency-history-layer1 .icon1 {
  font-family: Poppins;
  font-size: 20px;
  color: var(--txt-color-op1);
}
.emergency .emergency-history-layer1 p {
  color: var(--white);
}
.emergency-btns .btns {
  display: flex;
}
.emergency-btns .btns .btns-layer1 {
  display: flex;
  align-items: center;
  background: var(--emergency-btns-bg);
  width: 100%;
  padding: 10px;
  padding-left: 20px;
  gap: 20px;
}
.emergency-btns .btns .btns-layer1 .layer1-element1 {
  background-color: #ff4848;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.emergency-btns .btns .btns-layer1 .layer1-element2 .txt-loc {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 2px;
}
.emergency-btns .btns .btns-layer1 .layer1-element2 h3 {
  font-family: Poppins-ExtraBold;
  font-size: 17px;
  line-height: 20px;
  color: var(--card-btn3-red);
}

.emergency-btns .btns .btns-layer1 .layer1-element2 p {
  font-family: Poppins;
  font-size: 10px;
  color: var(--black);
  font-weight: 600;
}
.emergency-btns .btns .btns-layer1 .layer1-element2 .icon2 {
  color: var(--black);
  font-size: 10px;
}
.emergency-btns .btns-layer2 {
  background: var(--card-btn3-red);
  width: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Services offer right side*/
.emergency {
  flex-wrap: wrap;
  width: 100%;
  max-width: 550px;
}
.emergency .emergency-history-layer1-blue {
  display: flex;
  align-items: center;
  gap: 100px;
}
.emergency .emergency-history-layer1-blue h1 {
  font-family: Poppins-ExtraBold;
  color: var(--txt-color-op1);
  width: 100%;
  font-size: 1.8em;
}
.history-layer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.emergency .emergency-history-layer1-blue .icon1 {
  font-family: Poppins;
  font-size: 20px;
  color: var(--txt-color-op1);
}
.emergency .emergency-history-layer1-blue p {
  color: var(--white);
  white-space: nowrap;
}
.emergency-btns-blue .btns {
  display: flex;
}
.emergency-btns-blue .btns .btns-layer1 {
  display: flex;
  align-items: center;
  background: var(--emergency-btns-bg);
  width: 100%;
  padding: 10px;
  padding-left: 20px;
  gap: 20px;
}
.emergency-btns-blue .btns .btns-layer1 .layer1-element1 {
  background-color: var(--txt-color-op1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.emergency-btns-blue .btns .btns-layer1 .layer1-element2 .txt-loc {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 2px;
}
.emergency-btns-blue .btns .btns-layer1 .layer1-element2 h3 {
  font-family: Poppins-ExtraBold;
  font-size: 17px;
  line-height: 20px;
  color: var(--txt-color-op1);
}

.emergency-btns-blue .btns .btns-layer1 .layer1-element2 p {
  font-family: Poppins;
  font-size: 10px;
  color: var(--black);
  font-weight: 600;
}
.emergency-btns-blue .btns .btns-layer1 .layer1-element2 .icon2 {
  color: var(--black);
  font-size: 10px;
}
.emergency-btns-blue .btns-layer2 {
  background: var(--card-btn3-red);
  width: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* History */
.history-container {
  padding: 20px;
  width: 1350px;
  margin: 0 auto;
}

.history-cont-layer1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}
.history-cont-layer1 .history-icon1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px;
}
.history-cont-layer1 .history-title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.history-cont-layer1 .history-title h1 {
  font-size: 30px;
  font-family: Poppins-ExtraBold;
  color: var(--card-btn3-red);
}
/* History Table  */
.history-table {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CarouselDApiDemo.jsx */
.carousel-tailwind1 {
  width: 1200px;
  padding: 10px;
}
.carousel-tailwind2 {
  height: 400px;
  border: none;
}
.table-info {
  display: flex;
  align-items: center;
  padding-left: 20px;
  gap: 450px;
  padding: 10px;
  background: var(--white);
  display: flex;
}
.table-info .table-date {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-family: Poppins-bold;
}

.table-info .icon4 {
  color: var(--black);
  font-size: 15px;
}
.table-location {
  font-family: Poppins-bold;
}

.main-table {
  table-layout: auto;
  width: 100%;
}
.table-row2 {
  border-bottom: 2px solid #fff;
  color: var(--white);
  font-size: 11px;
  padding-left: 300px;
  line-height: 20px;
}
.history-date {
  padding-left: 10px;
}
.history-location {
  padding-left: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  color: var(--loc-history);
}

/* Edit Profile */
.main-edit-prof-container {
  padding: 20px;
  width: 1350px;
  margin: 0 auto;
}
.main-edit-prof-container .edit-container {
  /* border: 1px solid red; */
  padding: 20px;
  display: flex;
  justify-content: space-around;
  margin-top: 90px;
}

.main-edit-prof-container .host-logo-right .icon3 {
  color: var(--serv-icon4);
  font-size: 30px;
  z-index: 100;
}
/* edit-left */
.main-edit-prof-container .edit-container .edit-img-left {
  /* border: 1px solid yellow; */
}
.edit-img-left .form-account-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
  gap: 30px;
}
.edit-img-left .form-account-detail button {
  background: linear-gradient(103deg, #00e0ff -91.33%, #029 97.14%);  color: var(--white);
  width: 150px;
  height: 44px;
  font-family: Poppins-Bold;
  border-radius: 20px;
  transition: all ease-in 0.25s;
}
.edit-img-left .form-account-detail button:hover {
  box-shadow: 5px 5px 35px #029, 0 0 20px #00e0ff, 0 0 30px #029;
  background-size: 300% 100%;
  transition: background-position 0.4s ease-in-out, box-shadow 0.4s ease-in-out,
    color 0.4s ease-in-out;
  animation: shadow-color 2s linear infinite;
}
.edit-img-left .file-box img {
  height: 250px;
  width: 250px;
  border-radius: 20px;
  object-fit: cover;
}
/* edit-right */
.main-edit-prof-container .edit-container .edit-infor-right {
  /* border: 1px solid blue; */
}
.edit-infor-right .form-info {
  padding: 20px;
  line-height: 25px;
  gap: 20px;
}
.form-info .input-cont {
  display: flex;
  justify-content: left;
  align-items: center;
  background: var(--white);
  padding: 10px;
  padding-left: 20px;
  gap: 10px;
  border-radius: 10px;
  width: 500px;
}
.form-info .input-cont .input-icon {
  color: var(--black);
}
.form-info .account-title {
  font-size: 14px;
  font-family: Poppins;
  font-weight: 300px;
  color: var(--white);
}
.form-info .input-cont .account-input {
  width: 100%;
  font-size: 15px;
}
.form-info .input-cont .account-input-1 {
  white-space: normal;
  width: 100%;
  font-size: 11px;
  column-count: 2;
  column-gap: 10px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
}
.edit-infor-right .edit-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.edit-footer .edit-btn-1,
.edit-footer .edit-btn-2 {
  border-radius: 4px;
  font-family: Poppins-Bold;
}
.edit-footer .edit-btn-1 {
  background: linear-gradient(103deg, #00e0ff -91.33%, #029 97.14%);  color: var(--white);
  width: 216px;
  height: 44px;
  transition: all ease-in 0.25s;

}
.edit-footer .edit-btn-1:hover {
  box-shadow: 5px 5px 35px #029, 0 0 20px #00e0ff, 0 0 30px #029;
  background-size: 300% 100%;
  transition: background-position 0.4s ease-in-out, box-shadow 0.4s ease-in-out,
    color 0.4s ease-in-out;
  animation: shadow-color 2s linear infinite;
}
.edit-footer .edit-btn-2 {
  width: 216px;
  height: 44px;
  color: var(--card-btn3-red);
  border: 1px solid var(--card-btn3-red);
  transition: all ease-in 0.25s;
}
.edit-footer .edit-btn-2:hover {
  box-shadow: 5px 5px 35px  var(--card-btn3-red), 0 0 30px var(--card-btn3-red);
  background-size: 300% 100%;
  transition: background-position 0.4s ease-in-out, box-shadow 0.4s ease-in-out,
    color 0.4s ease-in-out;
  animation: shadow-color 2s linear infinite;
}
/* Notif-admin-side */
.notif-admin-container {
  padding: 20px;
  width: 1350px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notif-admin-container .notif-emergency-admin {
  border: 5px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  padding: 20px;
  gap: 20px;
  background: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.notif-emergency-admin .circle-warn {
  color: var(--card-btn3-red);
  padding: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 10px 7px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 7px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 7px -6px rgba(0, 0, 0, 0.75);
}
.circle-warn .icon6 {
  color: var(--card-btn3-red);
  font-size: 50px;
}
.notif-emerg-txt {
  text-align: center;
  line-height: 35px;
}
.notif-emerg-txt h1 {
  font-family: Poppins-ExtraBold;
  color: var(--card-btn3-red);
  font-size: 35px;
}
.notif-emerg-txt p {
  font-family: Poppins;
  font-weight: 600;
  color: var(--black);
  font-size: 20px;
}
.notif-emerg-btn {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: linear-gradient(103deg, #00e0ff -91.33%, #029 97.14%);
  transition: all ease-in 0.25s;
  border: none;
  cursor: pointer;
}
.notif-emerg-btn:hover {
  box-shadow: 5px 5px 35px #029, 0 0 20px #00e0ff, 0 0 30px #029;
  background-size: 300% 100%;
  transition: background-position 0.4s ease-in-out, box-shadow 0.4s ease-in-out,
    color 0.4s ease-in-out;
  animation: shadow-color 2s linear infinite;
}
.notif-emerg-btn button {
  display: flex;
  align-items: center;
  height: 37px;
  white-space: nowrap;
  color: var(--white);
}
.notif-emerg-btn .icon7 {
  font-size: 15px;
}
/* Loading Page */
.main-load-cont {
  height: 100svh;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 2px 9px 65px 0px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(50px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}
.load-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pulse {
  position: relative;
  width: 300px;
  height: 300px;
  background: linear-gradient(
    180deg,
    rgba(0, 224, 255, 0.2) 0%,
    rgba(0, 224, 255, 0.2) 100%
  );
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.4;
}
.pulse span {
  position: absolute;
  height: 100%;
  width: 100%;
  background: inherit;
  border-radius: inherit;
  opacity: 0.8;
  animation: pulse 4s ease-out infinite;
  animation-delay: calc(1s * var(--i));
}

@keyframes pulse {
  100% {
    opacity: 0;
    transform: scale(2);
  }
}
.visibile {
  opacity: 5;
  transition: opacity 1s ease-out;
}

.hidden {
  opacity: 0;
  z-index: -100;
  transition: opacity 1s ease-out;
}


/* mobile view */
@media only screen and (max-width: 767px) {
  /* emergency Alert containers*/
  .home-adminSide-container {
    width: calc(100%);
  }
  .host-name-left h1 {
    font-family: Poppins-Bold;
    line-height: 20px;
    font-size: 15px;
  }
  .host-name-left p {
    font-size: 10px;
  }
  .host-logo-right {
    display: flex;
    gap: 10px;
  }

  .right-layer1 img {
    height: 35px;
  }

  .right-layer2 h3 {
    font-size: 10px;
    line-height: 10px;
  }
  .right-layer2 p {
    font-size: 10px;
    color: var(--txt-color-op1);
  }

  .emergency-container {
    margin-top: 50px;
    flex-direction: column;
  }

  .emergency .emergency-history-layer1 {
    gap: 10px;
    margin-bottom: 10px;
  }
  .emergency .emergency-history-layer1 h1 {
    font-size: 15px;
  }

  .emergency .emergency-history-layer1 .icon1 {
    font-size: 20px;
  }
  .emergency .emergency-history-layer1 p {
    font-size: 13px;
  }
  .emergency-btns .btns .btns-layer1 {
    width: 100%;
    padding: 5px;
    padding-left: 20px;
    gap: 20px;
  }
  .emergency-btns .btns .btns-layer1 .layer1-element1 {
    background-color: #ff4848;
    width: 30px;
    height: 30px;
    font-size: 16px;
  }
  .emergency-btns .btns .btns-layer1 .layer1-element2 .icon2 {
    font-size: 6px;
  }
  .emergency-btns .btns .btns-layer1 .layer1-element2 h3 {
    font-family: Poppins-Bold;
    font-size: 15px;
  }

  .emergency-btns .btns .btns-layer1 .layer1-element2 p {
    font-size: 7px;
    font-weight: 600;
  }
  .emergency-btns .btns-layer2 {
    width: 25px;
  }

  /* Services offer right side*/
  .emergency .emergency-history-layer1-blue {
    gap: 10px;
    margin-bottom: 10px;
  }
  .emergency .emergency-history-layer1-blue h1 {
    font-size: 15px;
    white-space: nowrap;
  }
  .emergency .emergency-history-layer1-blue p {
    font-size: 13px;
  }
  .emergency .emergency-history-layer1-blue .icon1 {
    font-size: 20px;
  }
  .emergency-btns-blue .btns .btns-layer1 {
    width: 100%;
    padding: 5px;
    padding-left: 20px;
    gap: 20px;
  }
  .emergency-btns-blue .btns .btns-layer1 .layer1-element1 {
    background-color: var(--txt-color-op1);
    width: 30px;
    height: 30px;
    font-size: 16px;
  }
  .emergency-btns-blue .btns .btns-layer1 .layer1-element2 .icon2 {
    font-size: 6px;
  }
  .emergency-btns-blue .btns .btns-layer1 .layer1-element2 h3 {
    font-family: Poppins-Bold;
    font-size: 15px;
  }

  .emergency-btns-blue .btns .btns-layer1 .layer1-element2 p {
    font-size: 7px;
    font-weight: 600;
  }
  .emergency-btns-blue .btns-layer2 {
    width: 25px;
  }
  /* History */
  .history-container {
    width: calc(100%);
  }
  .history-cont-layer1 {
    justify-content: space-between;
    margin-top: 50px;
  }
  .history-cont-layer1 .history-icon1 {
    font-size: 20px;
  }

  .history-cont-layer1 .history-title h1 {
    font-size: 20px;
  }
  .div-anone {
    display: block;
  }
  /* CarouselDApiDemo.jsx */
  .carousel-tailwind1 {
    width: 350px;
    padding: 10px;
  }
  .carousel-tailwind2 {
    height: 400px;
    border: none;
  }
  .table-info {
    gap: 65px;
  }
  .table-info h1 {
    font-size: 10px;
  }
  .table-info .table-date {
    font-size: 10px;
  }

  .table-info .icon4 {
    font-size: 10px;
  }
  .table-location {
    font-family: Poppins-bold;
  }

  .main-table {
    table-layout: auto;
    width: 100%;
  }
  .table-row2 {
    font-size: 11px;
    padding-left: 300px;
    line-height: 10px;
  }
  .history-date {
    padding-left: 10px;
    font-size: 10px;
    white-space: nowrap;
  }
  .history-location {
    padding-left: 50px;
    line-height: 10px;
    font-size: 10px;
  }
  /* Edit Profile */
  .main-edit-prof-container {
    width: calc(100%);
  }
  .main-edit-prof-container .edit-container {
    padding: 0;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
  }

  .main-edit-prof-container .host-logo-right .icon3 {
    color: var(--serv-icon4);
    font-size: 30px;
  }
  /* edit-left */
  .main-edit-prof-container .edit-container .edit-img-left {
    margin-top: -55px;
  }
  .edit-img-left .form-account-detail {
    gap: 20px;
  }
  .edit-img-left .form-account-detail button {
    background: var(--txt-color-op1);
    color: var(--white);
    width: 150px;
    height: 44px;
    font-family: Poppins-Bold;
    border-radius: 20px;
  }
  .edit-img-left .file-box img {
    height: 150px;
    width: 150px;
    border-radius: 20px;
    object-fit: cover;
  }
  /* edit-right */
  .main-edit-prof-container .edit-container .edit-infor-right {
    margin-top: -100px;
  }

  .form-info .input-cont {
    padding-left: 10px;
    width: 100%;
  }
  .form-info .input-cont .input-icon {
    color: var(--black);
  }

  .form-info .input-cont .account-input {
    width: 100%;
  }

  .edit-infor-right .edit-footer {
    flex-direction: column;
  }
  .edit-footer .edit-btn-1 {
    font-size: 16px;
    width: 100%;
  }
  .edit-footer .edit-btn-2 {
    font-size: 16px;
    width: 100%;
  }


  /* Notif-admin-side */
.notif-admin-container {
  width: calc(100%);
}
.notif-admin-container .notif-emergency-admin {
  width: 300px;
}
.notif-emerg-txt {
  text-align: center;
  line-height: 25px;
}
.notif-emerg-txt h1 {
  font-family: Poppins-ExtraBold;
  color: var(--card-btn3-red);
  font-size: 25px;
}
.notif-emerg-txt p {
  font-family: Poppins;
  font-weight: 600;
  color: var(--black);
  font-size: 15px;
}
/* Loading Page */
.pulse {
  position: relative;
  width: 300px;
  height: 300px;
  background: linear-gradient(
    180deg,
    rgba(0, 224, 255, 0.2) 0%,
    rgba(0, 224, 255, 0.2) 100%
  );
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.4;
}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .home-adminSide-container {
    width: 100%;
  }
}
